@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");

body {
  background: linear-gradient(236.85deg, #bd586e 27.26%, #ce9993 96.03%);
  font-family: "Montserrat", sans-serif;
}
.container {
  background-color: #ecf4ff;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #863c54;
  color: #1c1c1c;
  padding: 64px;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil-foto {
  border-radius: 400px;
  max-height: 160px;
  box-shadow: 0 0 0 5px #ce9993;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 700;
}
h3 {
  font-weight: 500;
  font-size: 24px;
  margin-top: -30px;
}
.titulo {
  margin-left: 20px;
}

.projetos {
  display: flex;
  flex-direction: column;
  text-align: justify-center;
  font-size: 20px;
  background: linear-gradient(236.85deg, #cd5c5c 27.26%, #ce9993 96.03%);
  margin: 25px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 6px 6px 6px #863c54;
}

.projeto-titulo {
  text-align: center;
  margin: 15px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

a:link,
a:visited {
  background-color: #bd586e;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: 6px 6px #863c54;
  border-radius: 5px;
  margin: 5px;
  border: solid 3px #ce9993;
}

a:hover,
a:active {
  background-color: #ce9993;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-itens: center;
  margin-top: 26px;
}

footer a {
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border: 1.8px solid #1c1c1c;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ecf4ff;
}

::-webkit-scrollbar-track {
  background: #ecf4ff;
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
  margin: 15px 0px;
}